<div class="page">

  <header role="banner" class="header">
    <div class="layout-content">
      {{ page.header }}
      <a href="#navigation" class="toggle-nav icon-info-circle">Toggle Nav</a>

      <div id="navigation" class="navigation">
        {{ page.primary_menu }}
        {{ page.secondary_menu }}
      </div>
    </div>
  </header>

  {{ page.breadcrumb }}

  {{ page.highlighted }}

  {{ page.help }}

  <main role="main" class="main layout-container">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

    <div class="layout-content">
      {# {{ page.content }} #}
      <div class="error-message-container">
        <h1>Access Denied.</h1>
        <h2>403 Error</h2>
        <p class="large">Sorry, you are not authorized to access this page.</p>
        <a href="/" class="button button--primary">Return to Homepage</a>
      </div>
    </div>{# /.layout-content #}

    {% if page.sidebar_first %}
      <aside class="layout-sidebar-first" role="complementary">
        {{ page.sidebar_first }}
      </aside>
    {% endif %}

    {% if page.sidebar_second %}
      <aside class="layout-sidebar-second" role="complementary">
        {{ page.sidebar_second }}
      </aside>
    {% endif %}

  </main>

  {% if page.content_secondary %}
    <div class="layout-content-bottom" role="complementary">
      {{ page.content_secondary }}
    </div>
  {% endif %}

  {% if page.footer or page.footer_secondary %}
    <footer role="contentinfo" class="footer">
      {{ page.footer }}
      {{ page.footer_secondary }}
    </footer>
  {% endif %}

</div>{# /.page #}

