{%
  set classes = [
    field_name|clean_class,
    'field-label-' ~ label_display,
  ]
%}
{%
  set title_classes = [
    'field-label',
    label_display == 'visually_hidden' ? 'visually-hidden',
  ]
%}
{%
  set source = [
    'field',
    field_name,
  ]
%}
{% if label_hidden %}
  {% if multiple %}
    <div{{ attributes.addClass(classes, 'field-items').setAttribute('data-drupal-source', source|join('|')) }}>
      {% for item in items %}
        <div{{ item.attributes.addClass('field-item') }}>{{ item.content }}</div>
      {% endfor %}
    </div>
  {% else %}
    {% for item in items %}
      <div{{ attributes.addClass(classes, 'field-item').setAttribute('data-drupal-source', source|join('|')) }}>{{ item.content }}</div>
    {% endfor %}
  {% endif %}
{% else %}
  <div{{ attributes.addClass(classes).setAttribute('data-drupal-source', source|join('|')) }}>
    <div{{ title_attributes.addClass(title_classes) }}>{{ label }}</div>
    {% if multiple %}
      <div class="field-items">
    {% endif %}
    {% for item in items %}
      <div{{ item.attributes.addClass('field-item') }}>{{ item.content }}</div>
    {% endfor %}
    {% if multiple %}
      </div>
    {% endif %}
  </div>
{% endif %}
